body{
    padding: 0;
    margin: 0;
    background-color: rgb(252, 253, 251);
    display: flex;
}

.instagram_body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: rgb(9, 250, 202); */
    align-items: center;
    justify-content:center;
    overflow: hidden;

}
.sidebar-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    
}

.sidebar_insta{
    width: 100px;
    height: 100vh;
    display: grid;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0% 10px; */
} 
.profile-picture-container{
    width: 24px;
    height: 25px;
    /* background-position: center; */
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.profile-container{ 

    /* border-radius: 50%; */
    width: 48px;
    height: 48px;
    display: flex;
   
} 
.profile-picture{
     
    width: 100%;
    height: 100%;
    gap : 10px;
    /* margin: 10px;     */
} 




 .posts-section{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-color: rgb(234, 109, 20);
    /* overflow:auto; */
    padding: px 9px;
    margin-top: 16px;
 
}   
.stories-section{
    width: 650px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 246, 6);
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 0px;
    margin-bottom: 60%;
    margin-left: 30px;
    margin-right: 30px;
    /* overflow:auto; */
    gap: 2px;
    overflow: hidden;
    /* overflow: scroll; */

    
}
.story-outer{
    background: linear-gradient(to right, #fffb00 20%, #ff9900 30%, #c82af8 40%, #ff0202 90%, #5e84f6 100%);
    min-width: 84px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 2px;
    width: 84px;
    height: 84px;
    margin: 3px;
    
}
.story-inner{
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(173, 223, 8);
    overflow: hidden;
}
.story-image{
    width: 100%;
    height: 100%;
}




.suggestions-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
    
}
.suggestions-section{
    /* width: 350px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    padding: 20px 69px 20px 0px ;
    /* background-color: rgb(252, 9, 90); */
    margin-left: 60px;
}

.profiles-section{
    width: 100%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px ;
}
.profile-horizontal-card{
    width: 100%;
    height: auto;
    display: flex;
    padding: 8px;
    justify-content:space-between;
    align-items: center;
    gap: 0px;
}

.suggestion-profile-picture-container{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    overflow: hidden;
}
.suggestion-profile-picture{
    width: 100%;
    height: 100%;
}
.username-and-name-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 179px;
}

.username{
    font-weight: 600;
    font-size: 16px;
}
.name{
    font-size: 18px;
    color: #6A717A;
}
.follow-button{
    color: #4150F7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.profile-name-picture-container{
    display: flex;
    gap: 10px;
}

.all-suggestions-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    padding: 4px 16px;
}





.see-all-suggestions{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: black;}

.text-see-all-suggestions{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-for-you{
    color: #0C1014;
    font-weight: 550;
    font-size: 18px;
}
.links-footer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-dot{
    color: #6A717A;
    font-size: 16px;
}
.footer-link{
    text-decoration: none;
    color: #6A717A;
    font-size: 16px;
}
.copywrite{
    color: #61666c;
    font-size: 16px;
}