body{
    padding: 0;
    margin: 0;
    background-color: rgb(252, 253, 251);
    display: flex;
}

.instagram_body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: rgb(9, 250, 202); */
    align-items: center;
    justify-content:space-evenly;

}
.sidebar-section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.sidebar_insta{
    width: 100px;
    height: 100vh;
    display: grid;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0% 10px; */
} 
.profile-picture-container{
    width: 24px;
    height: 25px;
    /* background-position: center; */
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.profile-container{ 

    /* border-radius: 50%; */
    width: 48px;
    height: 48px;
    display: flex;
   
} 
.profile-picture{
     
    width: 100%;
    height: 100%;
    gap : 10px;
    /* margin: 10px;     */
} 




.post-section{
    width: 100%;
    height: 500px;
    background-color: rgb(239, 12, 12);
    margin: 25%;
    display: flex;
    flex-direction: column; 

}  
.suggestion-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.suggestion-section{
    width: 387px;
    background-color: salmon;
    height: 730px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: start;
    justify-content: start;
    gap: 80%;
    padding: 0px 0px 0px 60px ;
}

.profiles-section{
    width: 100%;
    height: 440px;
    gap: 10px;
}
.profile-horizontal-card{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
}

.suggestion-profile-picture-container{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    overflow: hidden;
}
.suggestion-profile-picture{
    width: 100%;
    height: 100%;
}
.username-and-name-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 179px;
}

.username{
    font-weight: 700;
    font-size: 18px;
}
.name{
    font-size: 18px;
    color: #6A717A;
}
.follow-button{
    color: #4150F7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.profile-name-picture-container{
    display: flex;
    gap: 10px;
}

.all-suggestions-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 19px;
    padding: 4px 16px;
}


.text-container-of-see-all{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.see-all-suggestions{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: black;
}
.suggestions-for-you{
    color: #0C1014;
    font-weight: 550;
    font-size: 18px;
}
.links-footer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-dot{
    color: #6A717A;
    font-size: 16px;
}
.footer-link{
    text-decoration: none;
    color: #6A717A;
    font-size: 16px;
}
.copywrite{
    color: #61666c;
    font-size: 16px;
}