body{
    padding: 0;
    margin: 0;
}

.instagram_body{
    
    width: 120vw;
    height: 120vh;
    display: flex;
    justify-content: space-evenly;
}

.sidebar{
    width: 238px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post{
    width: 1000.6px;
    height: 100vh;

}

.suggestions{
    width: 400px;
    height: 100vh;
    
}
.profile{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
