*{
    padding: 0%;
    margin: 0%;
}
body {
    width: 100vw;
    height: calc(100vh - 16px);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.instagram-body{
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
}

.sidebar-section{
   width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 50px 0px; */
    /* background-color: red; */
}
.sidebar-icons{
    width: 28px;
    height: 28px;
}
.sidebar{
    width: 100px;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-container{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-container{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width:100%;
    height: 100%;
}


.suggestions-section-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.suggestions-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 370px;
    align-items: start;
    justify-content: start;
    gap: 80px;
}

.profiles-container{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profile-horizontal-card {
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
}
.profile-picture-container-2{
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-2{
    width: 100%;
    height: 100%;
}

.username-and-name-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 179px;
}

.username{
    font-weight: 700;
    font-size: 18px;
}
.name{
    font-size: 18px;
    color: #6A717A;
}
.profile-container-link{
    color: #4150F7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.profile-pic-and-name-container{
    display: flex;
    gap: 10px;
}

.see-all-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 19px;
    padding: 4px 16px;
}
.text-container-of-see-all{
    width:100% ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-all{
    text-decoration: none;
    color: #0C1014;
    font-weight: 500;
    font-size: 16px;
}

.suggested-for-you{
    color: #0C1014;
    font-weight: 600;
    font-size: 18px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.footer-dot{
    color: #6A717A;
    font-size: 16px; 
}
.footer-link{
    text-decoration: none;  
    color: #6A717A;
    font-size: 16px;
}
.copyright{
    color: #6A717A;
    font-size: 16px;
}

.side-bar-center-items-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.side-bar-footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.posts-section{
   width: 630px;
   height: 100%;
   display: flex;
   flex-direction: column;
   background: #000;
}

.stories-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 124px;
    overflow: auto;
   background: red;

}

.story-outer{
   background: linear-gradient(to right, #fffb00 20%, #ff9900 30%, #c300ff 40%, #ff0202 90%);
    border-radius: 100%;
    margin-right: 25px;
    height: 74px;
    width: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.story-inner{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid white;
}

.story-image{
  height: 100%;
  width: 100%;
}